
<% @logos.each do |logo| %>
  <div class = "span3.5 logo_index">

    <ul>
      <li ><%= logo.title %></li>
      <li ><%= logo.categories.name %></li>

      <li class="img-polaroid" ><%= image_tag logo.logo.thumb.url%></li>
        <li><%= link_to 'Vote', logo_path(logo), :class =>"btn" %></li>
    </ul>

  </div>
<% end %>
</div>

<div class = >
<%= paginate @logos%>
</div>
